.box-list{
	overflow: scroll;
	height: 500px;
}
input{
	margin-bottom: 20px;
}
.succeed{
	color: blue;
}
.error{
	color: red;
}
table.table-striped thead tr th{
	background-color: #33CCFF;
	border-right: 1px solid #fff;
	cursor: pointer;
	font-weight: bold;
}
th {
	padding-right: 25px !important;
}
th.header {
	background-image: asset-data-url("bg.gif");
	background-repeat: no-repeat;
	background-position: right; 

}
th.headerSortUp {
	background-image: asset-data-url("asc.gif") !important;
	background-repeat: no-repeat;
	background-color: #3399FF !important;
	background-position: right;
}
th.headerSortDown {
	background-image: asset-data-url("desc.gif");
	background-color: #3399FF !important;
	background-repeat: no-repeat;
	background-position: right;
}