<!DOCTYPE html>
<html>
<head>
  <title>Importcsv</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="/assets/javascripts/jquery-latest.js"></script> 
	<script type="text/javascript" src="/assets/javascripts/jquery.tablesorter.js"></script> 
</head>
<body>

<%= yield %>

</body>
</html>
